<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1"> <!-- Left "col" sets the left alignment and right "col" sets the right alignment -->
  <h1><%= place.name %></h1>
  <i><%= place.address %></i><br /><br />
  <p><%= place.description %></p><br />
</div>
<% end %>
